.jumbotron {
    height: 650px;
  background-image: url("images/jumbotron1.png");
  background-size: cover;
  color: white;
  margin-bottom: 0px;
}
.jumbotext {
  width: 40%;
}
.join {
	width: 50%;
}
.make	{
	width: 50%;
}
.btn {
	float: left;
	margin: 5px;


}
.clearfix {
    clear:both;
}
.footer {
	width: 100%;
	height: 50px;
	color: white;
	background-color: #333333;
	text-align: center;
	padding-top: 10px;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button
{
	position: static;
	width: 150px;
	padding: 10px;
	
	box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
    font-weight:bold;
	text-decoration:none;
    color: #fff;
    background-color: #008cba;
    border-color: #008cba;


}
#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}
#loginScreen
{
    height:380px;
    width:600px;
    margin:0 auto;
    position:fixed;
    z-index:10;
    display:none;
	background: gray;
	border:5px solid #cccccc;
	border-radius:10px;
	top: 100px;
	left: 400px;
    padding: 50px 10px 10px 10px;
}
#loginScreen:target, #loginScreen:target + #cover{
    display:block;
    opacity:2;
}
.cancel
{
    display:block;
    position:absolute;
    top:3px;
    right:2px;
    background:rgb(245,245,245);
    color:black;
    height:40px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}

#submitLogin {
    color: black;
}
h2 {
    /*text-shadow:1px 1px 1px rgba(61,165,255,1);*/
    font-weight:bold;
    text-decoration:underline;
    color:#000000;
    letter-spacing:0pt;
    word-spacing:2pt;
    font-size:38px;
    text-align:left;
    font-family:palatino linotype, palatino, serif;line-height:1;
    padding-top: 10px;
}
#createGroupBtn {
  color: #fff;
  background-color: #43ac6a;
  border-color: #43ac6a;
}