 #map {
        float: right;
        height: 100%;
        width: 50%;
        border: 2px solid black;
      }
      /* Optional: Makes the sample page fill the window. */
  html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  #well {
    width: 40%;
    padding-left: 10px;
  }