 #map {
        display: block;
        position: fixed;
        height: 700px;
        width: 50%;
        left: 50%;
        border: 2px solid black;
      }
      /* Optional: Makes the sample page fill the window. */
  html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  #well {
    position: absolute;
    top: 60px;
    width: 40%;
    padding-left: 10px;
  }
  .overlayBackground {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.75;
    z-index: 100;
  }

  .lightBox {
    display: block;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 600px;
    height: 400px;
    background: white;
    opacity: 0.75;
    z-index: 120;
    border: 2pt solid black;
    padding-left: 20px;
    padding-top: 20px;
  }
  
  #main {
    z-index: 50;
  }
  .clearAll {
    clear: both;
  }